.list{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: max-content;
  margin: 0 auto;
  margin-top: 15px;
}
.link{
  color: rgb(170, 170, 170);
}

@media screen and (max-width: 768px){
  .list{
    margin-top: 50px;
    width: 90%;
    max-width: none;
  }
}